.epgModal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35vh 1fr;
  height: 100%;
  width: 100%;
  background: url("./banner_hero.png") no-repeat;
  background-size: 100%;
}

.epgModal::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.schedulerContainer {
  position: relative;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.schedulerContainer::-webkit-scrollbar {
  display: none;
}

.schedule {
  position: relative;
  display: grid;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
}

.schedule::-webkit-scrollbar {
  display: none;
}
